@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        $('.testmasters-menubar').css('display', 'block');
        $('.test-menubar li, .testmasters-menubar li').removeClass('active-page');
        $('.TestMaster, .InputFields').addClass('active-page');
    });
</script>
<div class="test-master-subpage input-fields-page">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="Configuration" class="tests-select control-label">Test Master:</label>
            <div class="col-xs-7 col-sm-6 col-lg-5">
                <select id="ddlTestMaster" class="form-control">
                   
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Configuration" class="tests-select control-label">Test Name:</label>
            <div class="col-xs-7 col-sm-6 col-lg-5">
                <select class="form-control">
                    <option>Test 1</option>
                    <option>Test 2</option>
                    <option>Test 3</option>
                    <option>Test 4</option>
                </select>
            </div>
            @*Below Cancle button appear when user hit on edit expression button*@
            <div class="pull-right" style="width:183px">
                <div class="col-xs-12 ">
                    <button type="submit" id="" title="Save" class="btn btn-default btn-block common-btn common-btn-animation create-btn">Save</button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-xs-4 padding-all-zero">
        <div class="tableblock col-xs-12 padding-all-zero table-max-height">
            <table class="table table-bordered table-striped cBase-custom-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>INPUT NAMES</th>
                        <th>VOM</th>
                        <th>DIMENSION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1" checked="checked"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1" checked="checked"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1" checked="checked"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1" checked="checked"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1" checked="checked"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1" checked="checked"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1" checked="checked"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1" checked="checked"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1" checked="checked"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1" checked="checked"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1" checked="checked"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="blankRadio" id="blankRadio1" value="option1"></td>
                        <td>Area</td>
                        <td>M^2</td>
                        <td>2*2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pull-right margin-top-20x">
            <button type="button" id="" title="Copy" class="btn btn-default btn-inline common-btn common-btn-animation submit-btn">Copy</button>
            <button type="button" id="" title="Delete" class="btn btn-default btn-inline common-btn common-btn-animation reset-btn">Delete</button>
        </div>

    </div>
    <form class="col-xs-8 form-horizontal">
        <div class="form-group InputName">
            <label for="Configuration" class="control-label col-xs-4  col-md-3 text-right padding-all-zero">Input Name:</label>
            <div class="col-xs-8 col-md-6 padding-right-zero">
                <input type="text" class="form-control" placeholder="Input Name">
            </div>
            <div class="col-xs-5 col-md-3 padding-all-zero btn-sw-view ">
                <div class="col-xs-6 padding-right-zero">
                    <button type="button" id="" title="Rename" class="btn btn-default btn-block common-btn common-btn-animation submit-btn">Rename</button>
                </div>
                <div class="col-xs-6 padding-right-zero">
                    <button type="button" id="" title="Create New" class="btn btn-default btn-block common-btn common-btn-animation create-btn">Create New</button>
                </div>
            </div>
        </div>
        <div class="form-group before-edit-exp">
            <label for="Configuration" class="control-label col-xs-4 col-md-3 text-right padding-all-zero">Unit of Measurement:</label>
            <div class="col-xs-8 col-md-6 padding-right-zero">
                <select class="form-control">
                    <option>VOM</option>
                    <option>Test 1</option>
                    <option>Test 2</option>
                    <option>Test 3</option>
                    <option>Test 4</option>
                </select>
            </div>
        </div>
        <div class="form-group before-edit-exp">
            <label for="Configuration" class="control-label col-xs-4 col-md-3 text-right padding-all-zero">Description:</label>
            <div class="col-xs-8 col-md-9 padding-right-zero">
                <input type="text" class="form-control" placeholder="*Testdescription for Input Field. ">
            </div>
        </div>
        <div class="col-xs-1 margin-top-20x padding-left-zero direction-btn-cnfg">
            <button type="button" title="scroll-up" class="btn btn-primary btn-block common-btn common-btn-animation submit-btn"><span class="glyphicon glyphicon-circle-arrow-up"></span></button>
            <button type="button" title="scroll-down" class="btn btn-primary btn-block common-btn common-btn-animation reset-btn"><span class="glyphicon glyphicon-circle-arrow-down"></span></button>
        </div>
        <div class="col-xs-11 input-field-grid-view">
            @*Input Field grid View Place here*@
        </div>
        <div class="form-group before-edit-exp">
            <label for="Configuration" class="control-label col-xs-2 text-right padding-all-zero">Image File:</label>
            <div class="col-xs-5 col-md-6 col-lg-7 padding-right-zero">
                <input type="text" class="form-control" placeholder="Image File Path">
            </div>
            <div class="col-xs-5 col-md-4 col-lg-3 btn-sw-view padding-all-zero">
                <div class="col-xs-6 padding-right-zero">
                    <button type="button" id="" title="Select Image" class="btn btn-default btn-block common-btn common-btn-animation submit-btn">Select Image</button>
                </div>
                <div class="col-xs-6 padding-right-zero">
                    <button type="button" id="" title="View Image" data-toggle="modal" data-target="#GridImageView" class="btn btn-default btn-block common-btn common-btn-animation submit-btn">View Image</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade popup-bck " id="GridImageView" role="dialog">
        <div class="modal-dialog popup-content-box Testmaster-exp">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Image Created</h4>
                </div>
                <div class="modal-body coreModal-body">
                    <div class="exp-calculation-result"></div>
                    <button type="button" id="" data-dismiss="modal" class="btn btn-primary btn-inline common-btn common-btn-animation reset-btn exp-close-btn ">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>


